@import "../../../resources/fonts/font.css";

.footer {
    margin-top: 5px;
    padding: 10px;
    background-color: var(--body-background);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid #00CCCC;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.footer-container {
    display: flex;
    padding: 0; 
    margin: 0;
    justify-content: space-between;
    width: 1220px;
    max-width: 1220px;
    min-width: 800px;
    align-items: center;
}

.footer-copyright-container {
    padding: 0; 
    margin: 0;
    display: flex;
}

.footer-links-container {
    padding: 0; 
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    padding-right: 10px;
    color: white;
}

.footer-links-container p:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-container > p {
    padding: 0; 
    margin: 0;
    color: white;
}

.footer-copyright-container > p {
    padding: 0; 
    margin: 0;
    font-family: "SiemensSans";
    font-weight: bold;
    color: white;
}

.footer-links-container > a {
    padding: 0; 
    margin: 0;
    color: white;
    font-family: "SiemensSans";
}

.footer-links-container > a:link {
    text-decoration: none;
}

.footer-links-container > a:visited {
    text-decoration: none;
}

.footer-links-container > a:hover {
    text-decoration: underline;
}