@import "../../../resources/fonts/font.css";

.outer-container {
    margin: 0;
    background-color: #6a89a7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 5px 80px;
    align-items: center;
    align-content: space-between;
    column-gap: 411px;
    flex-wrap: wrap;
    background: #6a89a7;
    min-width: 1500px;
    width: 100%;
}

.etaStocksLogo{
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.links{
    display: flex;
    padding: 17px 0px;
    align-items: center;
    align-content: space-between;
    column-gap: 25px;
}

.link-styles{
    text-decoration: none;
    color: #FFF;;
    text-align: center;
    text-shadow: 0px 12px 18px 0px rgba(0, 0, 40, 0.10), 0px 4px 8px 0px rgba(0, 0, 40, 0.10), 0px 0px 2px 0px rgba(0, 0, 40, 0.10);
    font-size: 22px;
    font-family: "SiemensSans";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: none;
    border: none;
    outline: none;
}

.link-styles:hover{
    color:#00CCCC;
    cursor: pointer;
}

.sideLogo{
    display: flex;
    padding: 5px 1px;
    align-items: center;
    gap: 10px;
}