.UnitCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--body-background);
}
  
.page-container-home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    background: var(--body-background);
    min-height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 150px;
    background-image: radial-gradient( closest-side, #6a89a7, var(--body-background));
    /* z-index: -1; */
}

.page-container-home .header-container-home {
    padding-left: 5px;
    width: 60%;
    color: white;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.illumination {
    height: 500px;
    width: 500px;
    background-image: radial-gradient( closest-side, rgba(28, 42, 107, 0.7),#0f1040);
    z-index: -1;
}

.page-container-home .nav-link {
    color: white;
}

.page-container-home .card {
    background: transparent;
    border: 1px solid rgb(199, 196, 196);
    border: 1px solid var(--body-background);
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.page-container-home .nav-link.active {
    background-color: transparent !important;
    color: #009999 !important;

}